.track__img {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #000000;
    margin: 2px;
}

.track__img-mini {
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid #000000;
    margin: 2px;
}