ul.track__container, ul.track__container-mini {
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;
    align-items: center;
}

ul.track__container {
    height: 100%;
    gap: 1rem;
}

ul.track__container-mini {
    height: calc(100% - 40px);
    gap: 0.3rem;
}

ul.track__container > li {
    width: 100%;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

ul.track__container-mini > li {
    width: 90%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}